<div class="rounded-0 sidebar-container">
    <ul class="list-group">
        <li class="list-group-item navigation">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-bars"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>NAVIGATION</div>
                <span>Pont MORANT Vérinage et entretient</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'description'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <div class="sidebar-icon">
                <i class="fa fa-file"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Description</div>
                <span>Détail et information du projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'staffing'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-address-book"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Staffing</div>
                <span>Organisation opérationnel du projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'document'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-folder"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Document</div>
                <span>Gestion des documents du projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'advancement'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-hourglass-half"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Avancement</div>
                <span>Visualisation et suivi de l'avancement</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'contact'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-address-book"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Contact</div>
                <span>Carnet de contact interne et externe</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'to-do-list'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-check-circle"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>To DoList</div>
                <span>Gestionnaire et tache interne</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'appointment'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Pointage</div>
                <span>Suivi du pointage par projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'delivery-management'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-car"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Gestion des livraisons</div>
                <span>Suivi des livraisons du projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'plan-project'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-cogs"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Planning projet</div>
                <span>Suivi des livraisons du projet</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" [routerLink]="'meeting-management'"  [routerLinkActive]="['bg-white']">
          <div class="row">
            <div class="col-md-2">
              <div class="sidebar-icon">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <div class="col-md-10 d-none d-xl-block">
                <div>Gestions des réunions</div>
                <span>Suivi des réunions du projet</span>
            </div>
          </div>
        </li>
      </ul>
      
</div>